# highlighter: pygments
highlighter: rouge

markdown: redcarpet
redcarpet:
  extensions: ["no_intra_emphasis", "fenced_code_blocks", "autolink", "tables", "with_toc_data"]
# markdown: kramdown
# kramdown:
#     input: GFM
#     syntax_highlighter: rouge

gems: [jekyll-paginate]
paginate: 7
paginate_path: "page:num"
layout: post
permalink: /:categories/:title
excerpt_separator: "[-----]"

# mode: dev
mode: product
url: https://zhuxuperson.github.io/
devurl: http://localhost:4000/
name: UniFreak
title: zhuxu's personal weblog | technology log 
description: "zhuxu's personal weblog, on coding or such stuff"

my:
    displayName: Unite
    realName: zhuxu
    realName_cn: zhuxu
    jobTitle: "PHP Coder"
    contact:
        qq: 377689319
        email: zhuxu91313@163.com
        github: http://www.zhuxu.info
        qzone: http://377689319.qzone.qq.com
        pinterest: https://www.pinterest.com/miblah/
        tel: 15255222xxxx
        address:
            country: China
            state: ZheJiang
            city: HangZhou
            distribute: ZhuXu
            postcode: 000000
            cell: "AnHuizhu"
    skills:
        frontend: ["HTML | Markdown", "CSS | SASS", "JS | jQuery", "Bootstrap"]
        backend: ["PHP", "MySQL", "Redis", "Regex", "Laravel", "OSC"]
        tools: ["Sublime Text", "Git | Github", "Linux", "Jekyll | Liquid"]

collections:
    qqGroupGuide:
        output: true

defaults:
  - scope:
        path: ""
        type: "posts"
    values:
        excerpt: "{{ page.content }} | slice: 0 300"
  - scope:
        path: ""
        type: "qqGroupGuide"
    values:
        layout: markdownreader_bare
